<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary me-2 rounded" id="checkout-button">Check Out</button>
  <%= link_back(guides_path, classes="btn btn-secondary rounded me-2") %>
</div>