<div class="card mb-3 me-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to guide.title, guide %></h5>
    <p class="card-text"><%= guide.description_text %></p>
    <%= link_to "Edit", edit_guide_path(guide), class: "card-link" %>
    <%= link_to "Delete", guide_path(guide), method: :delete, class: "card-link", data: {confirm: "Are you sure?"} %>
  </div>
</div>