<div class="container">
  <h1 class="mb-4 mt-3 text-center">Author Dashboard</h1>
  <div class="container p-4 mb-4 rounded m-auto" style="width: 12rem;">
    <div class="row">
      <%= link_to "Create a guide", new_guide_path, class: "btn btn-primary m-auto w-auto p-3" %>
    </div>
  </div>
  <%# User's published guides %>
  <div class="container border p-4 rounded mb-4">
      <div class="row">
        <h4 class="mb-4">Guides you have published</h4>
      </div>
    <% if user_or_guest.published_any_guides? %>
      <div class="row">
        <%= render partial: "guides/guides", locals: { guides: @guides } %>
      </div>
    <% else %>
      <div class="row">
        <p>You haven't published any guides yet!</p>
      </div>
    <% end %>
  </div>
</div>