<div class="container">
  <h1 class="mb-5">Author Dashboard</h1>
  <p class="mb-5">Here, you can create new guides and view or edit the guides you have created.</p>
  <p><%= link_to "New guide", new_guide_path %></p>

  <%= render "guides" %>
</div>