<div class="container">
  <h1 class="mb-5">Guides</h1>
  <div class="d-flex flex-wrap">
    <% @guides.each_with_index do |guide, index| %>
      <%= render partial: "card", locals: {guide: guide} %>
    <% end %>
  </div>
</div>