<div class="container">
  <h1><%= @guide.title %></h1>
  <hr>

<div id="guideCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-interval="false" data-bs-wrap="false">
  <div class="carousel-inner">
    <%# For each page in the guide pdf, display image of page in the carousel %>
    <% for page_num in (1..@page_count) do %>
      <%= render partial: "carousel_img", locals: { page_num: page_num } %>
    <% end %>
  </div>
  <%= render "carousel_controls" %>
</div>

