<div class="container">
  <h1 class="mb-5">Reviews for "<%= @guide.title %>"</h1>
  <hr>
  <% @reviews.each do |review| %>
    <%= render partial: "review", locals: {review: review} %>
  <% end %>
  <p><%= link_to "Back to guide", guide_path(@guide) %></p>
</div>